body {
    font-family: 'Courier New', monospace;
    background: #f4f4f4;
    margin: 0;
}

.formLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #0D0291, #ce1d61);
}

.form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

.tituloLogin {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.inputContainer {
    margin-bottom: 35px;
}

.labelLogin {
    font-size: 20px;
    color: #cb232c;
}

.input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 18px;
}

.input::placeholder {
    color: rgba(37, 37, 37, 0.5);
}

.obligatorio {
    color: red;
}

.loginBtnDiv {
    margin-bottom: 10px;
}

.loginBtn {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

